<a href="https://colab.research.google.com/github/Gail529/Machine-Learning-/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
data=pd.read_excel("/content/join_database.xlsx", skiprows=4)

In [0]:
data=data.iloc

In [34]:
data.head(5)

  Country name Country Code  ...  Secondary Education  Post Secondary Education
0  Afghanistan          AFG  ...             0.076482                  0.017491
1  Afghanistan          AFG  ...             0.700864                  0.299136
2  Afghanistan          AFG  ...             0.046106                  0.000000
3  Afghanistan          AFG  ...             0.220313                  0.075949
4  Afghanistan          AFG  ...             0.074983                  0.046122

[5 rows x 78 columns]

In [35]:
data.describe()

       Year of Survey  ...   Post Secondary Education
count     6833.000000  ...                6085.000000
mean      2004.844285  ...                   0.221367
std          6.463172  ...                   0.234402
min       1987.000000  ...                   0.000000
25%       2001.000000  ...                   0.027716
50%       2005.000000  ...                   0.147432
75%       2010.000000  ...                   0.320782
max       2017.000000  ...                   1.000000

[8 rows x 72 columns]

In [36]:
data.dtypes

Country name                   object
Country Code                   object
Region                         object
Region Code                    object
Year of Survey                  int64
                               ...
Public to Private wage gap    float64
 No Education                 float64
 Primary Education            float64
 Secondary Education          float64
 Post Secondary Education     float64
Length: 78, dtype: object

In [37]:
data.columns

Index(['Country name', 'Country Code', 'Region', 'Region Code',
       'Year of Survey', 'Survey Type', 'Subsample', 'Total population',
       'Children, aged 0-14', 'Youth, aged 15-24', 'Adult, aged 25-64',
       'Elderly, aged 65+', 'Urban Population (% of total Population)',
       ' Working Age Population, aged 15-64 (% of total Pop.)',
       'Dependency Rate, all compared to 15-64',
       'Youth Dependency Rate, younger than 15 compared to 15-64',
       'Old Age Dependency Rate, older than 64 compared to 15-64',
       'Labor Force, aged 15-64', 'Labor Force Participation Rate, aged 15-64',
       'Female Labor Force Participation Rate, aged 15-64',
       'Not in labor force or education rate among youth, aged 15-24',
       'Employment to Population Ratio, aged 15-64',
       'Share of workers (aged 15-64) with more than one jobs in last week',
       'Employment to Labor Force Ratio, aged 15-64 ',
       'Unemployment Rate, aged 15-64',
       'Youth Employment to Labor Force Ratio, aged 15-24',
       'Youth Unemployment Rate, aged 15-24', 'Wage employees, aged 15-64 ',
       'Unpaid or Self-employed, age 15-64', 'Employers, aged 15-64',
       'Informal jobs, aged 15-64', 'Formal jobs, aged 15-64',
       'Share of work contract', 'Share of health insurance',
       'Share of social security', 'Public sector employment, aged 15-64',
       ' Agriculture, aged 15-64', ' Industry, aged 15-64',
       ' Services, aged 15-64',
       ' Female in non-agricultural employment, aged 15-64',
       'Youth in non-agricultural employment, aged 15-64',
       ' Mining, aged 15-64', ' Manufacturing, aged 15-64',
       ' Public utilities, aged 15-64', ' Construction, aged 15-64',
       ' Commerce, aged 15-64', 'Transport & Communication, aged 15-64',
       'Financial and Business Services, aged 15-64',
       'Public Administration, aged 15-64', ' Other services, aged 15-64',
       ' Senior Officials, aged 15-64', ' Professionals, aged 15-64',
       ' Technicians, aged 15-64', ' Clerks, aged 15-64',
       ' Service and Market Sales, aged 15-64',
       ' Skilled Agriculture, aged 15-64', ' Craft Workers, aged 15-64',
       ' Machine Operators, aged 15-64', ' Elementary Occupations, aged 15-64',
       ' Armed Forces', 'Average weekly working hours',
       'Underemployment, <35 hours per week',
       'Excessive working hours,>48 hours per week',
       'Median Earnings for wage workers per hour, local nominal currency',
       'Median Earnings for wage workers per hour,  deflated to 2010  local currency val',
       'Real Median Hourly  Wages in USD (base 2010), PPP adjusted',
       'Median Earnings for wage workers per month, local nominal currency',
       'Median Earnings for wage workers per month, deflated to 2010 local currency valu',
       'Real Median Monthly Wages in USD (base 2010), PPP adjusted',
       'Median Earnings for wage workers per month in agriculture, local nominal currenc',
       'Median Earnings for wage workers per month in industry, local nominal currency',
       'Median Earnings for wage workers per month in service, local nominal currency',
       'Female to Male gender wage gap', 'Public to Private wage gap',
       ' No Education', ' Primary Education', ' Secondary Education',
       ' Post Secondary Education'],
      dtype='object')

In [0]:
data1=data.iloc[:,0:28]

In [39]:
data1.head(5)

  Country name  ... Wage employees, aged 15-64
0  Afghanistan  ...                    0.047374
1  Afghanistan  ...                    0.425628
2  Afghanistan  ...                    0.191832
3  Afghanistan  ...                    0.323972
4  Afghanistan  ...                    0.232827

[5 rows x 28 columns]

In [0]:
data1.

In [11]:
year

0       Year of Survey
1                 2007
2                 2007
3                 2007
4                 2007
             ...
6829              2011
6830              2011
6831              2011
6832              2011
6833              2011
Name: Unnamed: 4, Length: 6834, dtype: object

In [0]:
data1.drop(data1.filter(regex="unname"),axis=0,inplace=True)

In [32]:
data1

        Unnamed: 0  ... Share of all employment types
0     Country name  ...   Wage employees, aged 15-64
1      Afghanistan  ...                     0.0473739
2      Afghanistan  ...                      0.425628
3      Afghanistan  ...                      0.191832
4      Afghanistan  ...                      0.323972
...            ...  ...                           ...
6829      Zimbabwe  ...                      0.349662
6830      Zimbabwe  ...                      0.300482
6831      Zimbabwe  ...                      0.152776
6832      Zimbabwe  ...                      0.262356
6833      Zimbabwe  ...                      0.178399

[6834 rows x 28 columns]

In [29]:
data1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Share of total Population',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22',
       'Share of all Labor Force Participants, aged 15-64', 'Unnamed: 24',
       'Share of all Labor Force Participants, aged 15-24', 'Unnamed: 26',
       'Share of all employment types'],
      dtype='object')

In [0]:
data=data[data['Year of Survey']>=2010]

In [58]:
data1

     Country name  ... Wage employees, aged 15-64
9     Afghanistan  ...                    0.182684
10    Afghanistan  ...                    0.556997
11    Afghanistan  ...                    0.346902
12    Afghanistan  ...                    0.430912
13    Afghanistan  ...                    0.383448
...           ...  ...                         ...
6828     Zimbabwe  ...                    0.349662
6829     Zimbabwe  ...                    0.300482
6830     Zimbabwe  ...                    0.152776
6831     Zimbabwe  ...                    0.262356
6832     Zimbabwe  ...                    0.178399

[1810 rows x 28 columns]

In [52]:
cols=data1.columns
colstodrop=[(cols[i]) for i in[1,3]]
data1.drop(colstodrop,axis=1)

     Country name  ... Wage employees, aged 15-64
9     Afghanistan  ...                    0.182684
10    Afghanistan  ...                    0.556997
11    Afghanistan  ...                    0.346902
12    Afghanistan  ...                    0.430912
13    Afghanistan  ...                    0.383448
...           ...  ...                         ...
6828     Zimbabwe  ...                    0.349662
6829     Zimbabwe  ...                    0.300482
6830     Zimbabwe  ...                    0.152776
6831     Zimbabwe  ...                    0.262356
6832     Zimbabwe  ...                    0.178399

[1810 rows x 26 columns]

In [0]:
data2=data.iloc[:,30:60]

In [56]:
data2

      Informal jobs, aged 15-64  ...   Armed Forces
0                           NaN  ...            NaN
1                           NaN  ...            NaN
2                           NaN  ...            NaN
3                           NaN  ...            NaN
4                           NaN  ...            NaN
...                         ...  ...            ...
6828                   0.161981  ...       0.003223
6829                   0.125359  ...       0.001949
6830                   0.084033  ...       0.000518
6831                        NaN  ...       0.001611
6832                   0.139217  ...       0.000868

[6833 rows x 30 columns]

In [0]:
data2=data.iloc[:,35:38]

In [54]:
data2

      Public sector employment, aged 15-64  ...   Industry, aged 15-64
0                                 0.025032  ...               0.096863
1                                 0.281644  ...               0.097141
2                                 0.018489  ...               0.132116
3                                 0.077792  ...               0.142385
4                                 0.071519  ...               0.109596
...                                    ...  ...                    ...
6828                              0.073379  ...               0.158532
6829                              0.085534  ...               0.113970
6830                              0.040468  ...               0.051266
6831                              0.064378  ...               0.094840
6832                              0.018400  ...               0.052735

[6833 rows x 3 columns]